@charset "UTF-8";
/* CSS Document */

.logotipo{
    width: 100px;
	padding: 0px 0;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}