<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="shortcut icon" type="image/png" href="/static/img/Logo2_circle.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='services.css') }}">
</head>
<body>
    <section class="contenedor-1">
        <h2 class="contenedor-1_titulo">PEDIDOS POPULARES</h2>
        <div class="contenedor-1_paquete">
            <div class="paquete">
                <h3>PAQUETE I</h3>
                <img src="#" alt="servicio_clinica">
                <h4>$10.00</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil amet dolorum ipsum saepe quaerat distinctio eaque, dolorem accusamus similique laborum veniam adipisci error sapiente nemo, dolores, fugit at sed molestiae.</p>
                <a href="{{url_for('login')}}">AGENDA UNA CITA</a>
            </div>
            <div class="paquete">
                <h3>PAQUETE I</h3>
                <img src="#" alt="servicio_clinica">
                <h4>$10.00</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil amet dolorum ipsum saepe quaerat distinctio eaque, dolorem accusamus similique laborum veniam adipisci error sapiente nemo, dolores, fugit at sed molestiae.</p>
                <a href="{{url_for('login')}}">AGENDA UNA CITA</a>
            </div>
            <div class="paquete">
                <h3>PAQUETE I</h3>
                <img src="#" alt="servicio_clinica">
                <h4>$10.00</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil amet dolorum ipsum saepe quaerat distinctio eaque, dolorem accusamus similique laborum veniam adipisci error sapiente nemo, dolores, fugit at sed molestiae.</p>
                <a href="{{url_for('login')}}">AGENDA UNA CITA</a>
            </div>
        </div>
    </section>
</body>
</html>